@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    background-color: #182246;
}

::-webkit-scrollbar-track {
    background: #11162a; /* Custom track color */
    margin-top: 3rem;
}

/* Apply 4rem margin-top for screens 768px and wider */
@media (min-width: 640px) {
    ::-webkit-scrollbar-track {
        margin-top: 4rem;
    }
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #91a4ad; /* Custom handle color */
    border-radius: 10px; /* Rounded edges for the handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #1c63b8; /* Custom handle hover color */
}

::-webkit-scrollbar {
    width: 10px; /* Custom scrollbar width */
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.glow-effect:hover {
    box-shadow: 0 0 8px 0px rgba(134,81,241);
}